* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    overflow: hidden;
    z-index: 0;
}

.background video {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.background::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.35);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 60px;

    position: sticky;
    top: 13px;
    z-index: 10;

    background: rgba(16, 33, 216, 0.65);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    text-decoration: none;

    color: antiquewhite;

    border-radius: 30px 30px 30px 30px;

    margin-left: 25px;
    margin-right: 25px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a {
    text-decoration: none;
}

.menu.color {
    color: rgb(206, 229, 89);
    cursor: pointer;
    transition: 0.3s;
}

.menu.color:hover {
    color: rgb(39, 236, 39);
}

.color {
    color: rgb(206, 229, 89);

    cursor: pointer;

    transition: 0.3s;
}
.orangered {
    color: orangered;
}

.color:hover {
    color: rgb(39, 236, 39);
}

.content {
    position: relative;
    z-index: 5;

    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 60px;

    color: #f9f9f7;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 2);
}

.small-text {
    font-size: 18px;
    letter-spacing: 3px;

    margin-bottom: 15px;

    color: rgb(42, 135, 202);
}

.content h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.1;

    margin-bottom: 20px;
}

.description {
    font-size: 18px;

    max-width: 600px;

    line-height: 1.6;

    color: rgb(249, 252, 253);

    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.7);
}

.text {
    position: relative;
    z-index: 5;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 10px;
}

.large-text {
    text-align: center;
}

.large-text h2 {
    margin-top: 50px;

    font-size: 45px;

    color: #f4f2a1;

    text-shadow: 10px 10px 6px rgba(0, 0, 0, 0.7);
}

.large-text p {
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 20px;

    letter-spacing: 3px;

    color: #FFD166;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 2);
}

.welcome-container {
    position: relative;
    z-index: 5;

    width: 120%;
    max-width: 900px;
    margin: 80px 0 40px -70px;

    padding: 15px 30px;

    text-align: center;

    background: rgba(48, 27, 167, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgb(0, 224, 49);
    border-radius: 80px;

    box-shadow: 0 8px 35px rgba(35, 255, 94, 0.356);
}

.welcome-container h2 {
    font-size: 45px;
    color: rgb(22, 199, 235);
    margin-bottom: 10px;

    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.7);
}

.welcome-container p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #9af3f3;

    text-shadow: 5px 6px 4px rgba(0, 0, 0, 0.7);
}


.video-section {
    position: relative;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;

    flex-wrap: wrap;

    margin-top: 80px;
    padding: 0 40px 100px;
}

.video-card {
    position: relative;

    width: 330px;
    height: 430px;

    overflow: hidden;

    border-radius: 30px;

    cursor: pointer;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    flex-shrink: 0;
}

.video-card video {
    width: 100%;
    height: 100%;

    border-radius: 30px;

    object-fit: cover;

    display: block;

    transition: transform 0.6s ease;
}

.video-card:hover video {
    transform: scale(1.08);
}

.video-info {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;

    padding: 35px;

    color: white;

    background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.9)
    );

    transform: translateY(100%);

    transition: 0.5s ease;
}

.video-card:hover .video-info {
    transform: translateY(0);
}

.video-info h2 {
    font-size: 30px;
    
    margin-bottom: 10px;
    color: #e6d734;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.video-info p {
    font-size: 16px;

    line-height: 1.5;

    max-width: 600px;

    margin-bottom: 15px;
}

.video-info button {
    padding: 10px 20px;

    border: none;
    border-radius: 20px;

    background: rgb(58, 142, 179);

    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.video-info button:hover {
    background: white;
    color: rgb(58, 142, 179);
}

@media (max-width: 900px) {

    .video-section {
        flex-wrap: wrap;
    }

}

@media (max-width: 768px) {

    .navbar {
        padding: 20px;
    }

    .menu {
        gap: 10px;
    }

    .menu .color {
        font-size: 12px;
    }

    .content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .content h1 {
        font-size: 38px;
    }

    .small-text {
        font-size: 14px;
    }

    .description {
        font-size: 15px;
    }

    .video-section {
        flex-direction: column;

        padding-left: 25px;
        padding-right: 25px;
    }

    .video-card {
        width: 100%;
        max-width: 400px;
        height: 400px;
    }

}

.explore-button {
     display: inline-block;
    padding: 10px 20px;

    border-radius: 20px;

    background: rgb(58, 142, 179);
    color: white;

    text-decoration: none;

    transition: 0.3s;
}

.explore-button:hover {
    background: white;
    color: rgb(58, 142, 179);
}

.meaning {
    position: relative;
    z-index: 5;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 10px;
}

.large-meaning {
    text-align: center;
}

.large-meaning h2 {
    margin-top: 50px;

    font-size: 45px;

    color: #ffffff;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.large-meaning p {
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 20px;

    letter-spacing: 3px;

    color: #FFD166;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 2);
}

.container-box {
    position: relative;
    z-index: 5;

    width: 120%;
    max-width: 900px;
    margin: 10px 0 40px -70px;

    transform: translateX(45px);

    padding: 15px 30px;

    text-align: center;

    background: rgba(48, 27, 167, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgb(0, 224, 49);
    border-radius: 80px;

    box-shadow: 0 8px 35px rgba(35, 255, 94, 0.356);
}

.container-box h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 10px;

    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.container-box p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #FFE8A3;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.about-ph {
    width: 100vw;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden;

    font-weight: 300;
    font-size: 50px;

    margin-top: 110px;
    margin-bottom: 100px;

    white-space: nowrap;

    border-top: 3px solid orangered;
    border-bottom: 3px solid orangered;

    border-left: none;
    border-right: none;

    padding: 20px 0;
    box-shadow: none;
}

.about-ph-track {
    display: flex;
    width: max-content;
    animation: languageSlide 20s linear infinite;
}

.about-group {
    display: flex;
    align-items: center;
    gap: 35px;

    flex-shrink: 0;
    padding-right: 35px;
    color: #F5F5DC;
}

.about-group span {
    display: inline-block;
}

@keyframes languageSlide {
    
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.color-dot {
    color: #D4A373;
}

.card-container {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 100px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 200px auto 100px;
}

.place-card {
    position: absolute;

    width: 300px;
    height: 400px;

    overflow: hidden;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);

    transition: 
        transform 0.5s ease,
        z-index 0.3s ease,
        box-shadow 0.5s ease;

    cursor: pointer;
}

.place-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-card::after {
    content: "";

    position: absolute;
    inset: 0;

    background: linear-gradient(
        transparent 40%,
        rgba(0, 0, 0, 0.9)
    );
}

.card-info {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;

    padding: 25px;

    color: rgb(218, 249, 94);

    z-index: 2;

    transform: translateY(20px);
    opacity: 0.8;

    transition: 0.5s ease;
    
    text-shadow: 19px 19px 10px rgba(0, 0, 0, 0.7);
}


.card-info h2 {
    margin-bottom: 10px;
    font-size: 25px;
}

.card-info p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #f9f9f7;
}

.card-info a {
    padding: 9px 20px;
    text-decoration: none;

    border: none;
    border-radius: 20px;

    background: rgb(58, 142, 179);
    color: white;

    cursor: pointer;

    margin-bottom: 20px;
}

.left-card {
    left: 70px;
    transform: rotate(-8deg);
    z-index: 1;
}

.middle-card {
    left: 300px;
    top: -1px;

    width: 300px;
    height: 450px;

    transform: rotate(0deg);
    z-index: 3;
}

.right-card {
    right: 70px;
    transform: rotate(8deg);
    z-index: 1;
}

.left-card:hover {
    transform: rotate(-3deg) translateY(-35px) scale(1.08);
    z-index: 10;

    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.middle-card:hover {
    transform: translateY(-45px) scale(1.08);
    z-index: 10;

    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.right-card:hover {
    transform: rotate(3deg) translateY(-35px) scale(1.08);
    z-index: 10;

    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}

.place-card:hover .card-info {
    transform: translateY(0);
    opacity: 1;
}